issues with "message imprint" (1)

From [Shuping's email](https://mailarchive.ietf.org/arch/msg/cose/wumnJiHpaJpQWkE4GgFNWAVRRbM/):

```
2. Section 2.1
To compare through 2.1, 2.2, 3.1, and 3.2, would it be more clear to move this
following sentence to Section 3.1? "The message imprint sent to the TSA
(Section 2.4 of [RFC3161]) MUST be the hash of the payload field of the COSE
signed object."
```