hash computation details

From [Med’s review](https://mailarchive.ietf.org/arch/msg/cose/0tuE2XZhTwxZ2aArZCyzGYyFRzo/):

```
# Hash details: can we have an authoritative reference to zoom more about how
the hash is computed/validated?

CURRENT:
   The MessageImprint sent to the TSA (Section 2.4 of [RFC3161]) MUST be
   the hash of the payload of the COSE signed object.
```

We can add a forward reference to the relevant “Message Imprint Computation” section.